In [1]:
import pandas as pd

If you use this dataset, please cite:

Јapczyсski M., Biaіow№s S. (2013) Discovering Patterns of Users' Behaviour in an E-shop - 
Comparison of Consumer Buying Behaviours in Poland and Other European Countries, 
“Studia Ekonomiczne”, nr 151, “La sociйtй de l'information : perspective europйenne et 
globale : les usages et les risques d'Internet pour les citoyens et les consommateurs”, p. 144-
153.

In [2]:
df = pd.read_csv('data/bank_additional.csv', sep=';')

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [5]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

Так как пропуски отсутствуют, заполнять ничего не нужно

Перекодируем категориальные признаки

job               
marital           
education         
default           
housing           
loan              
contact           
month             
day_of_week            
poutcome          

Пропущенные значения ('unknown') вынесем в отдельный класс

df.clothing_model.values эквивалентно df['clothing_model.values']

In [6]:
categorical_col = ['job', 'marital', 'education', 'default', 'housing', 'loan',
                   'contact', 'month', 'day_of_week', 'poutcome']
df = pd.get_dummies(df, prefix_sep='_', columns=categorical_col)

Посмотрим на числовые признаки

In [7]:
numeric_col = ['age', 'campaign', 'pdays', 'previous', 'emp.var.rate', 
               'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']
df_nums = df[numeric_col]
print(df_nums)

       age  campaign  pdays  previous  emp.var.rate  cons.price.idx  \
0       56         1    999         0           1.1          93.994
1       57         1    999         0           1.1          93.994
2       37         1    999         0           1.1          93.994
3       40         1    999         0           1.1          93.994
4       56         1    999         0           1.1          93.994
...    ...       ...    ...       ...           ...             ...
41183   73         1    999         0          -1.1          94.767
41184   46         1    999         0          -1.1          94.767
41185   56         2    999         0          -1.1          94.767
41186   44         1    999         0          -1.1          94.767
41187   74         3    999         1          -1.1          94.767

       cons.conf.idx  euribor3m  nr.employed
0              -36.4      4.857       5191.0
1              -36.4      4.857       5191.0
2              -36.4      4.857       5191.0
3              -36.4      4.857       5191.0
4              -36.4      4.857       5191.0
...              ...        ...          ...
41183          -50.8      1.028       4963.6
41184          -50.8      1.028       4963.6
41185          -50.8      1.028       4963.6
41186          -50.8      1.028       4963.6
41187          -50.8      1.028       4963.6

[41188 rows x 9 columns]

In [8]:
print('campaign: ', df.campaign.min(), df.campaign.max())
print('previous: ', df.previous.min(), df.previous.max())

campaign:  1 56
previous:  0 7

Возможна перекодировка признака previous, оно несет в себе информативный смысл - число предыдущих контрактов. Перекодируем данный признак.

In [9]:
df = pd.get_dummies(df, columns=['previous'])

перекодировать бинарные признаки (целевая функция)

In [10]:
mapping = { 'yes': 1, 'no': 0}
df.y = df.y.map(mapping)

Отбросим колонку duration - так как по описанию она недоступна для прогнозирования y, и узнается уже после прогнозирования

In [11]:
df = df.drop('duration', axis=1)

Посмотрим на получившийся датасет

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 70 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41188 non-null  int64
 1   campaign                       41188 non-null  int64
 2   pdays                          41188 non-null  int64
 3   emp.var.rate                   41188 non-null  float64
 4   cons.price.idx                 41188 non-null  float64
 5   cons.conf.idx                  41188 non-null  float64
 6   euribor3m                      41188 non-null  float64
 7   nr.employed                    41188 non-null  float64
 8   y                              41188 non-null  int64
 9   job_admin.                     41188 non-null  uint8
 10  job_blue-collar                41188 non-null  uint8
 11  job_entrepreneur               41188 non-null  uint8
 12  job_housemaid                  41188 non-null  uint8
 13  job_management                 41188 non-null  uint8
 14  job_retired                    41188 non-null  uint8
 15  job_self-employed              41188 non-null  uint8
 16  job_services                   41188 non-null  uint8
 17  job_student                    41188 non-null  uint8
 18  job_technician                 41188 non-null  uint8
 19  job_unemployed                 41188 non-null  uint8
 20  job_unknown                    41188 non-null  uint8
 21  marital_divorced               41188 non-null  uint8
 22  marital_married                41188 non-null  uint8
 23  marital_single                 41188 non-null  uint8
 24  marital_unknown                41188 non-null  uint8
 25  education_basic.4y             41188 non-null  uint8
 26  education_basic.6y             41188 non-null  uint8
 27  education_basic.9y             41188 non-null  uint8
 28  education_high.school          41188 non-null  uint8
 29  education_illiterate           41188 non-null  uint8
 30  education_professional.course  41188 non-null  uint8
 31  education_university.degree    41188 non-null  uint8
 32  education_unknown              41188 non-null  uint8
 33  default_no                     41188 non-null  uint8
 34  default_unknown                41188 non-null  uint8
 35  default_yes                    41188 non-null  uint8
 36  housing_no                     41188 non-null  uint8
 37  housing_unknown                41188 non-null  uint8
 38  housing_yes                    41188 non-null  uint8
 39  loan_no                        41188 non-null  uint8
 40  loan_unknown                   41188 non-null  uint8
 41  loan_yes                       41188 non-null  uint8
 42  contact_cellular               41188 non-null  uint8
 43  contact_telephone              41188 non-null  uint8
 44  month_apr                      41188 non-null  uint8
 45  month_aug                      41188 non-null  uint8
 46  month_dec                      41188 non-null  uint8
 47  month_jul                      41188 non-null  uint8
 48  month_jun                      41188 non-null  uint8
 49  month_mar                      41188 non-null  uint8
 50  month_may                      41188 non-null  uint8
 51  month_nov                      41188 non-null  uint8
 52  month_oct                      41188 non-null  uint8
 53  month_sep                      41188 non-null  uint8
 54  day_of_week_fri                41188 non-null  uint8
 55  day_of_week_mon                41188 non-null  uint8
 56  day_of_week_thu                41188 non-null  uint8
 57  day_of_week_tue                41188 non-null  uint8
 58  day_of_week_wed                41188 non-null  uint8
 59  poutcome_failure               41188 non-null  uint8
 60  poutcome_nonexistent           41188 non-null  uint8
 61  poutcome_success               41188 non-null  uint8
 62  previous_0                     41188 non-null  uint8
 63  previous_1                     41188 non-null  uint8
 64  previous_2                     41188 non-null  uint8
 65  previous_3                     41188 non-null  uint8
 66  previous_4                     41188 non-null  uint8
 67  previous_5                     41188 non-null  uint8
 68  previous_6                     41188 non-null  uint8
 69  previous_7                     41188 non-null  uint8
dtypes: float64(5), int64(4), uint8(61)
memory usage: 5.2 MB

сохранить отредактированный датасет рядом со старым в формате csv: <название датасета>_preprocessed.csv

In [13]:
df.to_csv('data/bank_additional_preprocessed.csv')